

body {
  background-color: #D1D7DC;
  font-family: 'Fira Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
 /* background-color: #9AA3AC;*/
  padding: 0 8px;
}



#checkboxesEmployees{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
}




.inputGroup label {
border:1px solid #ccc;
 padding:10px;
 margin:0 0 10px;
 display:block; 
}



.checked {
  background-color: #228B22;
}






